.s-hero {
    position: relative;

    .slide-thumbnail {
        z-index: 2;
        position: absolute;
        top: 238px;
        left: 30px;

        .swiper-wrapper {
            .swiper-slide {
                cursor: pointer;
                height: 48px !important;
                opacity: 0.4;
                filter: grayscale(100%);

                &-thumb-active {
                    opacity: 1;
                    filter: grayscale(0%);
                }
            }
        }
    }

    .slide-principal {
        width: 100%;
        height: 736px;

        .swiper-wrapper {
            .swiper-slide {
                padding-top: 173px;

                &.slide-01 {
                    background: url(../assets/banner-slide-01.jpg) no-repeat center;
                    background-size: cover;
                }

                &.slide-02 {
                    background: url(../assets/banner-slide-02.jpg) no-repeat center;
                    background-size: cover;
                }

                &.slide-03 {
                    background: url(../assets/banner-slide-03.jpg) no-repeat center;
                    background-size: cover;
                }

                .container {
                    display: flex;
                    justify-content: space-between;

                    .left-content {
                        margin-left: 208px;
                        padding-top: 34px;
                        max-width: 626px;

                        h2 {
                            font-weight: 700;
                            font-size: 64px;
                            line-height: 110.2%;
                            margin-bottom: 16px;
                            width: 100%;
                        }

                        p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 27px;
                            letter-spacing: -0.005em;
                            margin-bottom: 32px;
                        }

                        a {
                            img {
                                max-width: 24px;
                                height: 24px;
                            }

                            padding: 14px 32px;
                            height: 52px;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }

                    .right-content {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        gap: 112px;

                        .logo {
                            overflow: hidden;
                            width: 280px;
                            height: 180px;
                        }

                        .video {
                            max-width: 280px;
                            width: 100%;
                            height: 158px;

                            span {
                                text-align: end;
                                display: block;
                                font-weight: 600;
                                font-size: 13px;
                                line-height: 20px;
                                margin-bottom: 16px;
                                text-transform: uppercase;
                            }

                            a {
                                position: relative;

                                .thumb {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    transition: opacity 0.5s;

                                    img {
                                        border-radius: 12px;
                                    }

                                    &:hover {
                                        &.default {
                                            opacity: 0;
                                        }

                                        &.hover {
                                            opacity: 1;
                                        }
                                    }

                                    &.default {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        .icone {
                                            position: absolute;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 50%;
                                            background: linear-gradient(
                                                136.72deg,
                                                rgba(7, 7, 10, 0.86) 19.22%,
                                                rgba(15, 16, 22, 0.5) 76.59%
                                            );
                                            backdrop-filter: blur(3px);
                                        }
                                    }

                                    &.hover {
                                        opacity: 0;

                                        img {
                                            height: 158px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .swiper-progress-bar {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        .slide-progress-bar {
            display: block;
            width: 0px;
            height: 100%;
            background-color: $primary-default;
            opacity: 0;
        }
        &.active {
            .slide-progress-bar {
                opacity: 1;
            }
        }
        &.animate {
            .slide-progress-bar {
                width: 100%;
                transition: width 5s linear;
            }
        }
    }

    @include responsive(1120px) {
        .slide-thumbnail {
            top: 634px;
            left: 26px;

            .swiper-wrapper {
                flex-direction: row;
                gap: 20px;

                .swiper-slide {
                    margin: 0px !important;
                    width: auto;
                }
            }
        }

        .slide-principal {
            .swiper-wrapper {
                .swiper-slide {
                    .container {
                        .left-content {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    @include responsive(910px) {
        .slide-principal {
            .swiper-wrapper {
                .swiper-slide {
                    &.slide-02 {
                        .left-content {
                            h2 {
                                font-size: 56px;
                                max-width: 447px;
                            }
                        }
                    }

                    .container {
                        .right-content {
                            position: absolute;
                            right: 30px;
                            top: 116px;
                            gap: 205px;

                            .video {
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include responsive(700px) {
        .slide-principal {
            height: 622px;

            .swiper-wrapper {
                .swiper-slide {
                    &.slide-01 {
                        background-position-x: -318px;
                    }

                    &.slide-02 {
                        background-position-x: -566px;
                    }

                    &.slide-03 {
                        background-position-x: -582px;

                        .container {
                            .left-content {
                                h2 {
                                    font-size: 38px;
                                }
                            }
                        }
                    }

                    padding-top: 131px;

                    .container {
                        .left-content {
                            // max-width: 283px;

                            h2 {
                                font-size: 40px;
                            }

                            p {
                                max-width: 289px;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 27px;
                                letter-spacing: -0.005em;
                            }

                            a {
                                padding: 9px 26px;
                            }
                        }

                        .right-content {
                            display: none;
                        }
                    }
                }
            }
        }

        .slide-thumbnail {
            top: 530px;
        }
    }
}

.s-games {
    padding-top: 85px;
    padding-bottom: 110px;

    .container {
        .top {
            display: flex;
            align-items: center;
            height: 70px;

            .left-top {
                gap: 171px;
                display: flex;
                max-width: 399px;

                span {
                    margin-top: 11px;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: #8f9199;
                }

                h2 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 110.2%;
                }
            }

            .right-top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-self: flex-end;

                .filtro {
                    margin-left: 159px;
                    display: flex;
                    gap: 24px;

                    a {
                        img {
                            height: 20px;
                        }

                        &.active {
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                bottom: -4px;
                                left: 0;
                                width: 100%;
                                border: 1px solid $primary-default;
                                animation: show 0.9s forwards;
                            }

                            @keyframes show {
                                from {
                                    opacity: 0;
                                }

                                to {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                .btn-all-games {
                    color: $primary-default;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;

                    img {
                        margin-right: 10px;
                    }
                }
            }
        }

        .tab-games-container {
            .tab-pane-games {
                display: none;
                margin-top: 87px;
                // display: grid;
                grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
                // grid-template-columns: repeat(4, 1fr);
                gap: 32px 48px;
                justify-items: center;

                li {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                }

                &.active {
                    display: grid;
                    animation: fade 0.8s forwards;
                }

                @keyframes fade {
                    from {
                        opacity: 0;
                        transform: translateY(40px);
                    }

                    to {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            }
        }
    }

    @include responsive(1000px) {
        .container {
            .top {
                justify-content: space-between;
                .left-top {
                    h2 {
                        max-width: 175px;
                    }
                    span {
                        display: none;
                    }
                }

                .right-top {
                    max-width: 396px;
                    .filtro {
                        margin: 0;
                    }
                }
            }

            .tab-games-container {
                .tab-pane-games {
                    justify-items: center;

                    .game-card {
                        width: 280px;
                        height: 460px;
                        // height: 276.64px;
                        // .image {
                        //     height: 384px;
                        // }
                    }
                    .game-card-allGames {
                        height: 384px;
                        max-height: 100%;
                    }
                }
            }
        }
    }
    @include responsive(720px) {
        .container {
            .top {
                justify-content: space-around;
                .right-top {
                    flex-direction: column-reverse;
                    gap: 30px;
                    max-width: 150px;
                }
            }

            .tab-games-container {
                .tab-pane-games {
                    justify-items: center;
                }
            }
        }
    }
    @include responsive(530px) {
        .container {
            .top {
                align-items: flex-start;
                position: relative;
                flex-direction: column;
                gap: 50px;
                .left-top {
                    h2 {
                        font-size: 28px;
                    }
                }
                .right-top {
                    max-width: initial;
                    width: auto;
                    gap: 50px;

                    flex-direction: row;
                    align-self: center;
                    .filtro {
                        li {
                            img {
                                height: 26px;
                            }
                        }
                    }
                    .btn-all-games {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                    }
                }
            }
        }
    }
}

.s-download {
    background-image: url(../assets/bg-download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 852px;
    position: relative;
    overflow: hidden;

    .overlay {
        background: radial-gradient(61.91% 61.91% at 58.62% 25.94%, #030303 0%, rgba(196, 196, 196, 0) 100%);
        mix-blend-mode: normal;
    }

    .container {
        display: flex;

        .left-area {
            padding-top: 132px;
            max-width: 312px;

            .logo {
                margin-bottom: 30px;
            }

            h2 {
                font-weight: 700;
                font-size: 32px;
                line-height: 110.2%;
                margin-bottom: 30px;
            }

            ul {
                margin-bottom: 42px;

                li {
                    display: flex;
                    gap: 16px;

                    &:not(:last-child) {
                        margin-bottom: 24px;
                    }
                }
            }

            a {
                margin-bottom: 49px;
                align-items: flex-end;
            }

            .aplicativo-mobile {
                display: flex;
                gap: 18px;

                span {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .right-area {
            position: absolute;
            top: 1px;
            left: 416px;
            width: 1053.33px;
            height: 593.96px;

            .image1 {
                position: absolute;
                top: 99.7px;
                left: 90px;
                animation: float 8s ease-in-out infinite;
            }

            .image2 {
                position: absolute;
                top: 399px;
                left: 297px;
                animation: float 6s ease-in-out infinite;
            }
        }
    }
    @include responsive(1200px) {
        .container {
            .right-area {
                left: 280px;
            }
        }
    }
    @include responsive(820px) {
        .container {
            .right-area {
                left: 210px;
            }
        }
    }
    @include responsive(768px) {
        height: auto;
        .container {
            flex-direction: column;
            align-items: center;
            gap: 40px;
            .right-area {
                width: 490px;
                height: 434.27px;
                position: relative;
                top: initial;
                left: initial;
                .image1 {
                    position: relative;
                    left: 63px;
                    top: 0;
                }
                .image2 {
                    position: absolute;
                    top: 152px;
                    left: 163px;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    z-index: 5;
    pointer-events: none;
    opacity: 0;

    transition: all 0.4s;

    .overlay {
        background-color: hsla(0, 0%, 0%, 0.5);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 6;

        .box {
            transition: transform 0.4s;
            transform: translateY(30px);
            position: relative;
            z-index: 7;
            background-color: $neutral-100;
            background-image: url(../assets/bg-modal.png);
            max-width: 696px;
            width: 100%;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            padding-top: 61px;
            padding-bottom: 66px;
            padding-inline: 135px;

            .logo {
                margin-bottom: 40px;
                width: 166.53px;
            }

            form {
                display: flex;
                flex-direction: column;
                max-width: 426px;
                width: 100%;

                input {
                    height: 48px;
                    padding-left: 16px;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    border-radius: 4px;
                    border: none;
                    outline-color: $primary-default;

                    &:not(:first-child) {
                        margin-top: 16px;
                    }

                    &::placeholder {
                        opacity: 0.6;
                    }
                }

                button {
                    margin-top: 24px;
                    border: none;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    height: 52px;
                }
            }

            .others-connect {
                text-align: center;
                margin-top: 41px;

                ul {
                    margin-top: 16px;
                    display: flex;
                    justify-content: center;
                    gap: 16px;

                    li {
                        a {
                            background: #ffffff;
                            width: 48px;
                            height: 48px;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: opacity 0.4s;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }

            .user-account {
                margin-top: 35px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;

                p {
                    margin-bottom: 16px;
                }

                a {
                    display: inline-block;
                    color: $primary-default;
                    text-decoration: underline;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .close {
                position: absolute;
                top: 24px;
                right: 24px;
                width: 32px;
                height: 32px;
                cursor: pointer;

                img {
                    padding: 8px;
                }
            }
        }
    }

    &.active {
        pointer-events: all;
        opacity: 1;

        .box {
            transform: translateY(0px);
        }
    }
}
