.btn {
  padding: 10px 25.2308px;
  border-radius: 4px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  transition: all 0.4s;

  &.btn-primary {
    background-color: $primary-default;

    &:hover {
      background-color: $primary-light;
    }
  }

  &.btn-outline {
    border: 1px solid #ffffff;

    &:hover {
      background-color: $white;
      color: $neutral-200;
      font-weight: 600;
    }
  }
}

.game-card {
  max-width: 301px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .image {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 6px;
    overflow: hidden;

    .logo-card {
      position: absolute;
      bottom: 35px;
      z-index: 1;
      transition: transform 0.4s;
    }

    .image-card {
      transition: transform 0.4s;
    }
  }

  h3 {
    font-size: 19.35px;
    line-height: 29px;
    font-weight: 600;
  }

  p {
    font-size: 15.05px;
    line-height: 23px;
    font-weight: 400;
    opacity: 0.8;
  }

  &:hover .image-card {
    transform: scale(1.1);
  }

  &:hover .logo-card {
    transform: scale(1.3);
  }

  &:hover .image-card {
    background: linear-gradient(182.12deg, #020203 4.2%, hsla(240, 20%, 1%, 0.389) 73.91%);
    opacity: 0.9;
  }
}

.game-card-allGames {
  max-width: 301px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border: 1.6125px solid #212428;
  border-radius: 4.3px;
  align-items: center;
  justify-content: center;
  max-height: 366.55px;

  span {
    font-weight: 600;
    font-size: 17.2px;
    line-height: 26px;

    img {
      margin-right: 14px;
    }
  }
}